@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-12">
        <table id="user_id" class="display" style="width:100%">
            <thead>
                <tr>
                    @*<th>Id</th>*@
                    <th></th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Psw</th>
                    <th>Register Date</th>
                    <th>Delete</th>

                </tr>
            </thead>
        </table>
    </div>
</div>